* {
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

:root {
    --turquoise: #00cba7;
    --light-grey: #c1c3d3;
    --border-grey:  #eee;
    --link-color: #004a6d;
    --dark-grey: rgb(70, 70, 70);
    --error: #f2dede;
    --success-message: #dff0d8;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; //1rem = 10px
}

a {
    &:link,
    &:visited,
    &:active,
    &:hover {
        text-decoration: none;
        font-weight: 700;
    }
}

.error-list {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
        background: var(--error);
        padding: .5rem;
        font-family: "Poppins", sans-serif;
        font-size: 1.1rem;
        &:not(:last-of-type){
            margin-bottom: 1.5rem;
        }
    }
}

.login_success {
    background: var(--success-message);
    padding: 1rem;
    p {
        color: black !important;
    }
}