.signup {
    display: flex;
    height: 100vh;
    background: var(--turquoise);
    font-family: "Poppins", sans-serif;

    &__left,
    &__right {
        flex: 1;
    }
    &__left {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        #imgLeft,
        #imgRight {
            position: absolute;
            height: 30rem;
            width: 30rem;
        }
        #imgLeft {
            top: 0;
            left: 0;
        }
        #imgRight {
            right: 0;
            bottom: 0;
        }
        &--logo {

        }
    }
    &__right {
        background: white;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        justify-content: center;
        align-items: center;
        &--container {
            grid-column: 3 / 7;
            & > *:not(:last-child) {
                margin-bottom: 2rem;
            }
            p {
                font-size: 1.5rem;
                color: var(--light-grey);
                font-weight: 500;
                a {
                    &:link,
                    &:visited,
                    &:active,
                    &:hover {
                        color: var(--link-color);
                        font-size: 1.3rem;
                    }
                }
            }
        }
        &--form {
            display: flex;
            flex-direction: column;
            font-family: "Roboto", sans-serif;
            & > *:not(:last-child) {
                margin-bottom: 1.5rem;
            }
            label {
                display: flex;
                &:not(:nth-of-type(5)){
                    flex-direction: column;
                }
                font-size: 1.4rem;
                color: var(--dark-grey);
                &:nth-of-type(5){
                    input {
                        margin-right: 1rem;
                    }
                }
                input {
                    margin-top: 1rem;
                    border: 1px solid var(--border-grey);
                    border-radius: .5rem;
                    padding: 1.5rem 1.3rem;
                    &::placeholder {
                        font-size: 1.5rem;
                        font-family: "Poppins", sans-serif;
                        color: var(--light-grey);
                    }
                    &:focus {
                        outline: none;
                        border: 1px solid var(--turquoise)
                    }
                
                }
            }
            button {
                padding: 1.3rem 0;
                background: var(--turquoise);
                color: white;
                border: none;
                border-radius: .5rem;
                font-size: 1.5rem;
                font-family: "Roboto", sans-serif;
                cursor: pointer;
            }
        }
    }
}